<!DOCTYPE html>
<html ng-app="EOHIntranet">
<head>
    <meta charset="utf-8" />
    <title>EOH A Microsoft Partner Intranet</title>
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">

</head>
<body ng-controller="indexController" ng-class="{'md-login' : currentUrl === '/login'}">
    <div class="md-home-toolbar md-padding" layout="row" ng-hide="currentUrl === '/login'">
        <div flex layout="row" layout-align="start center">
            <img src="assets/img/eoh_logo.png" height="55" />
        </div>
        <div flex layout="row" layout-align="end center">
            <md-button class="md-icon-button" aria-label="More">
                <md-icon>notifications</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="More">
                <md-icon>reply</md-icon>
            </md-button>
        </div>
    </div>
    <div layout="row"  ng-class="{'layout-fill' : currentUrl === '/login', 'main-wrap' : currentUrl !== '/login',}">
        
        <md-sidenav md-is-locked-open="$mdMedia('gt-md')" md-component-id="left" class="md-whiteframe-z2 md-sidenav-left gt-md-closed md-locked-open" ng-hide="currentUrl === '/login'">
            <div flex layout="column">
                <div class="md-padding profile-area margin-top-16" layout="column" layout-align="center center">
                    <div flex layout="row">
                        <img class="profile-picture" src={{profileImage}} />
                        <div class="online"></div>
                    </div>
                    <div flex layout="column" layout-align="center center">
                        <p class="md-name">{{displayName}}</p>
                        <p class="md-email">{{idNumber}}</p>
                    </div>
                </div>
                
                <md-menu-sidenav>


                    <md-menu-sidenav-item ng-click="navigateTo('/dashboard')">
                        <md-menu-sidenav-title>
                            <h1 class="md-body-2" flex><span><md-icon>dashboard</md-icon></span>Dashboard</h1>
                        </md-menu-sidenav-title>
                    </md-menu-sidenav-item>

                    <md-menu-sidenav-item ng-click="navigateTo('/ViewRecruitment')">
                        <md-menu-sidenav-title>
                            <h1 class="md-body-2" flex><span><md-icon>business_center</md-icon></span>Internal Recruitment</h1>
                        </md-menu-sidenav-title>
                    </md-menu-sidenav-item>

                    <md-menu-sidenav-item ng-click="navigateTo('/ProjectsView')">
                        <md-menu-sidenav-title>
                            <h1 class="md-body-2" flex><span><md-icon>code</md-icon></span>Projects</h1>
                        </md-menu-sidenav-title>
                    </md-menu-sidenav-item>
                    
                    <md-menu-sidenav-item ng-click="navigateTo('/Events')">
                        <md-menu-sidenav-title>
                            <h1 class="md-body-2" flex><span><md-icon>toys</md-icon></span>Events</h1>
                        </md-menu-sidenav-title>
                    </md-menu-sidenav-item>

                    <md-menu-sidenav-item ng-click="navigateTo('/SearchEmployee')">
                        <md-menu-sidenav-title>
                            <h1 class="md-body-2" flex><span><md-icon>face</md-icon></span>Buddy Search</h1>
                        </md-menu-sidenav-title>
                    </md-menu-sidenav-item>

                    <md-menu-sidenav-item ng-click="navigateTo('/viewUsers')">
                        <md-menu-sidenav-title>
                            <h1 class="md-body-2" flex><span><md-icon>forum</md-icon></span>@Chat</h1>
                        </md-menu-sidenav-title>
                    </md-menu-sidenav-item>

                    <md-menu-sidenav-item ng-click="navigateTo('/viewUsers')">
                        <md-menu-sidenav-title>
                            <h1 class="md-body-2" flex><span><md-icon>live_help</md-icon></span>FAQ</h1>
                        </md-menu-sidenav-title>
                    </md-menu-sidenav-item>
                    
                </md-menu-sidenav>

            </div>
        </md-sidenav>
      
        <div layout="row" layout-fill>
        <div layout="column" flex style="overflow: auto" ng-class="{'layout-fill' : currentUrl === '/login'}">
            <div ng-view ng-class="{'layout-fill' : currentUrl === '/login'}"></div>
        </div>
    </div>
    </div>
</body>
</html>

<!--Libraries-->
<script src="assets/js/angular.js"></script>
<script src="assets/js/angularjwt.js"></script>
<script src="assets/js/interceptor.js"></script>
<script src="assets/js/jwt.js"></script>
<script src="assets/js/base64.js"></script>
<script src="assets/js/angular-route.js"></script>
<script src="assets/js/ngstorage.min.js"></script>
<script src="assets/js/angular-toastr.tpls.min.js"></script>
<script src="assets/js/scripts.js"></script>
<script src="assets/js/angular-messages.js"></script>
<script src="assets/js/md-data-table.js"></script>
<script src="assets/js/moment.min.js"></script>
<script src="assets/js/angular-moment.min.js"></script>

<!-- Angualr Material -->
<script src="assets/js/angular-animate.js"></script>
<script src="assets/js/angular-aria.js"></script>
<script src="assets/js/angular-material.js"></script>
<script src="assets/js/material-menu-sidenav.js"></script>
<script src="assets/js/md-data-table.js"></script>

<!--App Config-->
<script src="app/app.js"></script>
<script src="app/config.route.js"></script>

<!--Firebase-->
<script src="assets/js/angularfire.min.js"></script>
<script src="assets/js/firebase.js"></script>

<!--Directives-->

<!--Controllers-->
<script src="indexcontroller.js"></script>
<script src="app/common/modal.js"></script>
<script src="app/components/recruitment/adminrecruitment.create.controller.js"></script>
<script src="app/components/event/create/createevent.controller.js"></script>
<script src="app/components/event/list/listevent.controller.js"></script>
<script src="app/components/event/view/viewevent.controller.js"></script>
<script src="app/components/project/project.create.controller.js"></script>
<script src="app/components/project/project.view.controller.js"></script>
<script src="app/components/employee/createemployee/createemployee.controller.js"></script>
<script src="app/components/employee/viewemployee/viewemployee.controller.js"></script>
<script src="app/components/employee/searchemployee/searchemployee.controller.js"></script>
<script src="app/components/employee/employeeservice.js"></script>
<script src="app/components/login/login.controller.js"></script>
<script src="app/components/recruitment/recruitmentservice.js"></script>
<script src="app/components/employee/chat/chat.controller.js"></script>
<script src="app/components/dashboard/dashboard.controller.js"></script>
<script src="app/components/recruitment/recruitment.view.controller.js"></script>
<script src="app/components/project/project.detail.controller.js"></script>
<script src="app/components/recruitment/recruitment.detail.controller.js"></script>
<script src="app/alert/alertdialog.controller.js"></script>
<script src="app/components/project/project.addmember.controller.js"></script>
<!--Services-->
<script src="app/components/event/event.service.js"></script>
<script src="app/components/project/projectservice.js"></script>
<script src="app/alert/alertdialog.service.js"></script>
<script src="app/components/login/login.service.js"></script>
<!--helpers-->
