<md-dialog ng-cloak class="large">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{title}}</h2>
            <span flex></span>
            <md-button aria-label="close" class="md-icon-button" ng-click="closeModal()">
                <md-icon md-font-icon="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-content class="md-padding">
        <form name="TransactionDetails">
            <div layout-gt-md="row" layout-md="column">
                <div flex>
                   
                    <div flex layout="row" layout-align="center center" class="margin-bottom-32">
                        <img src="assets/img/eoh_logo.png" height="125" />
                    </div>

                    <h3 layout="row" flex class="md-island-heding">Employee Information</h3>
                    <h3>{{employee.firstname}} {{employee.lastname}}</h3>
                    <p>{{employee.email}}</p>
                    <p>{{employee.cellphone}}</p>
                    <p>{{employee.title.TitleName}}</p>

                    <div layout="row" class="md-padding">
                        <div flex="50" layout="column" layout-align="start start">
                            <md-button class="md-primary md-primary-custom" ng-click="chat()">Message</md-button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </md-content>
