<md-content class="md-padding">
    <form name="TransactionDetails">
        <div layout-gt-md="row" layout-md="column">
            <div flex>
                <!-- Left Col -->
                <h3 layout="row" flex class="md-island-heding">Employee Information</h3>

                <div class="md-output-row" layout="row">
                    <div flex>
                        <p>First Name:</p>
                    </div>
                    <div flex>
                        <p>{{employee.firstname}}</p>
                    </div>
                </div>
                <div class="md-output-row" layout="row">
                    <div flex>
                        <p>Last Name:</p>
                    </div>
                    <div flex>
                        <p>{{employee.lastname}}</p>
                    </div>
                </div>
                <div class="md-output-row" layout="row">
                    <div flex>
                        <p>Contact Number:</p>
                    </div>
                    <div flex>
                        <p>{{employee.cellphone}}</p>
                    </div>
                </div>
                <div class="md-output-row" layout="row">
                    <div flex>
                        <p>Employee Email:</p>
                    </div>
                    <div flex>
                        <p>{{employee.email}}</p>
                    </div>
                </div>

                <div class="md-output-row" layout="row">
                    <div flex>
                        <p>Address Line:</p>
                    </div>
                    <div flex>
                        <p>{{employee.addressLine1}}</p>
                    </div>
                </div>
                <p>{{employee.firstname}}</p> is online click chat with
                <div layout="row" class="md-padding">
                    <div flex="50" layout="column" layout-align="start start">
                        <md-button class="md-primary md-primary-custom" ng-click="chat(employee)">Chat</md-button>
                    </div>
                </div>

        </div>
    </form>
</md-content>