<md-content class="main-content md-padding page-content transparent">
    <md-content class="box-shadow">
        <md-data-table-container>
            <table md-data-table md-progress="deferred">
                <thead md-order="query.order" md-trigger="onOrderChange" class="color-blue color-medium-grey">
                    <tr>
                        <th name="Project Name"></th>
                        <th name="Customer"></th>
                        <th name="Start Date"></th>
                        <th name="End Date"></th>
                        <th name="Members"></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="project in vm.projects" ng-click="vm.showSelectedProject(project)">
                        <td><p class="md-currency-circle">{{project.projectName}}</p></td>
                        <td>{{project.customer}}</td>
                        <td>{{project.openDate | date:'dd/MM/yyyy'}}</td>
                        <td>{{project.closeDate | date:'dd/MM/yyyy'}}</td>
                        <td>10</td>
                        <td class="md-table-button">
                            <md-button class="md-icon-button" ng-click="vm.deleteQuote($index)">
                                <md-icon md-font-icon="material-icons" class="md-font material-icons">search</md-icon>
                            </md-button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <md-data-table-container>
                <!--<md-data-table-pagination md-limit="vm.pagenation.limit" md-page="vm.pagenation.page" md-total="{{vm.projects.length}}" md-page-select="vm.pagenation.pageSelector" md-boundary-links="vm.pagenation.boundaryLinks"></md-data-table-pagination>-->
                <md-data-table-pagination class="margin-bottom-16" md-limit="vm.pagenation.limit" md-page="vm.pagenation.page" md-total="{{vm.projects.length}}"></md-data-table-pagination>
            </md-data-table-container>
    </md-content>
    <md-content class="md-padding">
        <div flex layout="row" layout-align="end end">
            <md-button class="md-primary md-primary-custom" ng-click="vm.newProject()">New Project</md-button>
        </div>
    </md-content>
</md-content>