html, body{
    background: $light-gray !important;
}
.main-wrap{
    margin: 0;
    width: 100%;
    height: calc(100% - 100px);
}
.inline-switch{
    height: 80px;
    label{
        color: $dark-gray;
        font-weight: 500;
        padding-left: 5px;
    }
    md-switch{
        margin-right: 0px;
    }
}

.main-content{
    padding: 30px 25px;
}

md-content{
    &.box-shadow{
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    }
}

.md-primary-custom{

    background-color: rgba(6,21,86,1.0);
    &:not([disabled]):hover{
        background-color: rgba(6,21,86,0.9);
    }
    .md-button[disabled] {
        background-color: #E6E7E8;
    }
    span{
        color: $ci-white;
    }
}


//input styles

.md-header-fab{
    position: absolute;
    right: 30px;
    top: 183px;
}


.md-table-button{
    width: 48px;
    padding: 0!important;
    button{
        &:hover{
            md-icon{
                color: $ci-light-blue;
            }
        }
    }
}

md-data-table-container{
    p{
        &.md-currency-circle {
            width: 48px;
            height: 48px;
            padding: 0px;
            text-align: center;
            line-height: 47px;
            font-weight: 700;
            border-radius: 50%;
            background-color: $light-gray;
            color: $ci-light-blue;
        }
    }
}

.md-functions-dropdown-sm{
    padding: 4px 0;
    md-menu-item {
        min-height: 30px;
        height: 30px;
        .md-button {
            font-size: 14px;
            text-align: left;
            padding-left: 8px;
            padding-right: 8px;
            line-height: 30px;
            min-height: 30px;
            md-icon {
                margin: auto 8px auto 0;
                font-size: 18px;
            }
        }
    }
}


md-dialog{
    &.large{
        min-width:85%;
    }
}


.md-input-custom-heading{
    font-size: 22px;
    border-bottom: 1px solid #061556;
    margin-bottom: 20px;
    line-height: 36px;
    color: $ci-blue;
    strong{
        font-weight: bold;  
    }
}

.md-badge{
    position: relative;
    top: 3px;
    border-radius: 50%;
    height: 17px;
    display: inline-block;
    line-height: 16px;
    width: 17px;
    font-weight: bold;
    margin-left: 3px;
    background-color: $ci-red;

    span{
        position: absolute;
        top: 0px;
        left: 0;
        width:17px;
        text-align: center;
        font-size: 10px;
    }
}
.md-custom-notice{
    md-icon{
        &.primary{
            color: $ci-blue;
        }
        &.warn{
            color: $ci-red;
        }
        &.approve{
            color: $md-green;
        }
    }
}


.md-custom-notice-progress{
    height: 2px;
    .md-container {
        height: 2px;
    }

}

//table custom style
tbody > tr:last-child{
    td{
border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
    }
    
}

//custom datepicker input full width:
.md-datepicker-custom{
    margin: 14px 0px 0px 0px;
    display: block;
    .md-datepicker-button{
        margin-left: -9px;
        &:hover{
            md-icon{
                color: $ci-blue;
            }            
        }
    }
    .md-datepicker-input-container{
        font-size: 17px;
        display: block;
        width: calc(100% - 50px);
        float: right;
        margin: 8px 5px 0px 0px;
        .md-datepicker-input{
            
            color: $dark-gray;
            &::-webkit-input-placeholder { /* Safari, Chrome and Opera */
              color: $dark-gray;
            }

            &:-moz-placeholder { /* Firefox 18- */
              color: $dark-gray;
            }

            &::-moz-placeholder { /* Firefox 19+ */
              color: $dark-gray;
            }

            &:-ms-input-placeholder { /* IE 10+ */
              color: $dark-gray
            }

            &::-ms-input-placeholder { /* Edge */
              color: $dark-gray
            }

            &:placeholder-shown { /* Standard one last! */
              color: $dark-gray;
            }
        }
    }
}


.md-custom-button-tabs{
        border-bottom: 1px solid $light-gray;
        background-color: $lighter-gray;
        .md-custom-button-label{
            @media (max-width: 960px){
                top: 38px;
            }
            position: absolute;
            left: calc(50% - 10px);
            top: 14px;
            z-index: 1;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: red;
            p{
                margin: 0;
                text-align: center;
                width: 100%;
                color: #fff;
                font-size: 12px;
                font-weight: bold;
            }
        }
    .md-button {
        @media (max-width: 960px){
            border-right: none;
            border-bottom: 1px solid $light-gray;
            &:last-child{
                border-bottom: none;
            }
        }

        border-radius: 0px;
        padding: 6px 6px;
        margin: 0px 0px;  
        &.selected{
            background: $ci-blue;
            color: $ci-white;
            font-weight: bold;
            &[disabled]{
                color: $ci-white!important;
                font-weight: inherit;
            }
        }       
    }
}


//toaster custom



md-toast{
    background-color: $ci-blue;
    @media (min-width: 1200px){
        max-width: 250px;
    }
    @media (min-width: 600px){
        min-width: 250px;
    }
    .md-toast-content{
        background-color: transparent !important;
        font-weight: 200;
    }
}

/*md-sidenav, md-backdrop {
position: fixed !important;
}
md-backdrop ~ md-content {
position: fixed;
overflow: hidden;
}*/ 


// Headings

.md-island-heding{
    color: $darker-gray;
    font-weight: 700;
    -webkit-margin-before: 1.0em;
    -webkit-margin-after: 1.0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    &.no-margin{
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }
}
.md-island-sub-heding{
    color: $dark-gray;
    font-weight: 600;
    -webkit-margin-before: 1.0em;
    -webkit-margin-after: 1.0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    &.no-margin{
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }
}




//Login Screen 

.md-custom-login-container{
    background: url("assets/img/city-wallpaper-47.jpg") no-repeat;
    background-size: cover;
}
.md-output-row{
    border-bottom: 1px solid $light-gray;
    p{
    font-size: 0.9em;
    -webkit-margin-before: .2em;
    -webkit-margin-after: .2em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    }
    .header p{
        font-weight: 700;
        color: $dark-gray;
    }
    div:first-child:not(.header){
        p{
            font-weight: 600;
            color: $gray;
        }
    }
    div:last-child:not(.header){
        p{
            text-align: right;
        }
    }
}

.md-output-table{
    div p:first-child{
        border-bottom: solid 1px $light-gray;

    }
    div p{
        padding-left:16px;
    }
    div:last-child{ 
        border-right: none;
    }
    div{ 
        border-right: solid 1px $light-gray;
    }

}



//login styling
.md-login{

    .input-area{
        background: url(../img/header-toolbar-bg.jpg) no-repeat center center;
        background-size: inherit;
        background-position: top center;
        background-color: $ci-blue;
        box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.5);
        .logo{
            background: url(../img/login-bidvest-logo.png) no-repeat center center;
            background-size: contain;
            background-position: top center;
            height: 45px;
            min-height: 45px;
            width: 85%;
            display: block;
            margin: 0 auto 6.0em auto;
        }
        input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 1000px $ci-blue inset;
            -webkit-text-fill-color: $ci-white !important;
            &:hover, &:focus, &:active{
                -webkit-box-shadow: 0 0 0px 1000px $ci-blue inset;
                -webkit-text-fill-color: $ci-white !important;
            }
        }
        label{
            color: #fff!important;
            font-weight: 300;
        }
        md-input-container{
            input{
                color: rgb(255, 255, 255);
                border-color: #fff;
                &:focus{
                    border-color: #fff;
                }
            }
            md-icon{
                color: #fff;
            }
        }
        .login-error{
            font-size: 0.8em;
            margin-left: 40px;
            text-align: center;
            color: $ci-red;

        }

        .login-button{
                height: 40px;
                margin: 16px 0 20px 0;
            button{

                float: left;
                width: calc(100% - 40px);
                margin-left: 40px;
                display: block;
                padding: .5em 1em;
                border: none;
                background: none;
                color: #fff;
                vertical-align: middle;
                position: relative;
                z-index: 1;
                border: 1px solid #fff;

            }
            .button-login {
	            overflow: hidden;
	            -webkit-transition: border-color 0.3s, color 0.3s;
	            transition: border-color 0.3s, color 0.3s;
	            -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	            transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
            }
            .button-login::before {
	            content: '';
	            position: absolute;
	            top: 0;
	            left: 0;
	            width: 150%;
	            height: 100%;
	            background: #37474f;
	            z-index: -1;
	            -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	            transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	            -webkit-transform-origin: 0% 100%;
	            transform-origin: 0% 100%;
	            -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
	            transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
            }
            .button-login:hover {
	            color: #fff;
	            border-color: #3f51b5;
            }
            .button-login.button-inverted:hover {
	            color: #3f51b5;
	            border-color: #fff;
            }
            .button-login:hover::before {
	            opacity: 1;
	            background-color: #3f51b5;
	            -webkit-transform: rotate3d(0, 0, 1, 0deg);
	            transform: rotate3d(0, 0, 1, 0deg);
	            -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	            transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
            }
            .button-login.button-inverted:hover::before {
	            background-color: #fff;
            }
        }
        .login-copyright{
            height: 100%;
            p{
                color: $dark-gray;
                font-size: 0.7em;
            }
        }
    }
    .image-area{
        background: url("../img/login-background.png") no-repeat!important;
        background-size: cover!important;
    }
    
}


// INTRANET CUSTOM CSS

.md-home-toolbar {
    background-color: $ci-blue!important;
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    .md-button{
        md-icon{
            color: $ci-white;
        }  
    }
}


.md-application-cards{

    md-card{
        min-width: 300px;
        min-height: 175px;
        position: relative;
        box-shadow: 2px 3px 4px 0px rgba(115, 110, 110, 0.4);
        transition: all 0.3s ease-in-out;
        &:hover{
            cursor: pointer;
            box-shadow: 3px 4px 5px 1px rgba(189, 19, 19, 0.4);
            transition: all 0.3s ease-in-out;
        }
        md-icon{
            font-size: 45px;
        }
        p{
            font-size: 0.9em;
            margin-top: 10px;
        }
    }   
} 


.md-login{
    background: url('../img/login_background.png') no-repeat center center!important;
    background-size: cover!important;

    md-input-container .md-input{
        border-color: #fff!important;
        color: #fff!important;
    }
    .md-input-focused label{
        color: #fff!important;
    }
    md-icon{
        color: #fff;
    }

    .md-login-facebook{
       
        button{
            background-color: transparent;
            border: 1px solid #FFF;
            width: 100%;
            &:hover{
                border-color: $light-gray;
                
            }

        }
    }
    .md-login-button{
        button{
            background-color: transparent;
            border: 1px solid #FFF;
            width: 100%;
        }
        
    }
    
}

.md-table-text-button{
    p{
        &:hover{
            background-color: $ci-blue;
            color: $ci-white;
            transition: all 0.3s ease-in-out;
        }
        transition: all 0.3s ease-in-out;
        background-color: $ci-white;
        background-color: transparent;
        float: right;
        display: inline-block;
        padding: 4px 10px;
        border: 1px solid #00041E;
        border-radius: 30px;
        margin: 0;
        line-height: 17px;
    }
}