<div class="md-padding md-application-cards" layout="row" layout-wrap >
    <md-card ng-repeat="event in vm.events" flex class="md-flip-in" ng-click="vm.viewEvent(event)">
        <md-toolbar class="color-blue" style="height: 50px; min-height: 50px;">
            <div class="md-toolbar-tools">
                <h2 flex>{{event.name}}</h2>
            </div>
        </md-toolbar>   
        <div layout="column" class="md-padding">
            <p class="no-margin md-font-size-xs">{{event.description}}</p>
        </div>        
    </md-card>
    <md-card flex layout-align="center center" class="md-card-placeholder" ng-click="vm.createEvent()" ng-if="vm.isAdmin">   
        <div layout="column" layout-align="center center">
            <h3 class="no-margin"><i class="material-icons">add</i></h3>
            <p class="no-margin md-font-size-xs">Add New <span>Event</span></p>
        </div>          
    </md-card>
</div>