<md-content class="main-content md-padding page-content transparent">
    <input type="button" value="Add Event" ng-click="vm.createEvent()" ng-if="vm.isAdmin" />

    <md-content class="box-shadow">
        <md-data-table-container>
            <table md-data-table md-progress="deferred">
                <thead md-head md-order="userSorting" class="ng-isolate-scope">
                    <tr md-row>
                        <th md-column name="Event Name" order-by="name"></th>
                        <th md-column name="Event Date" order-by="date"></th>
                        <th md-column name="Venue" order-by="venue"></th>
                        <th md-column name="Event Type"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="event in vm.events | limitTo: vm.pagenation.limit : (vm.pagenation.page -1) * vm.pagenation.limit | orderBy: userSorting track by $index" class="hover">
                        <td ng-click="vm.viewEvent(event)">{{event.name}}</td>
                        <td ng-click="vm.viewEvent(event)">{{event.date | date : "YYYY/MM/DD"}}</td>
                        <td ng-click="vm.viewEvent(event)">{{event.venue}}</td>
                        <td ng-click="vm.viewEvent(event)">{{event.type}}</td>
                        <td ng-if="vm.isAdmin">
                            <md-button  class="md-icon-button" ng-click="vm.delectEvent(event)" aria-label="Delete">
                                <md-icon md-font-icon="material-icons" class="md-font material-icons">delete</md-icon>
                            </md-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-data-table-container>
        <md-data-table-pagination class="margin-bottom-16" md-limit="vm.pagenation.limit" md-page="vm.pagenation.page" md-total="{{vm.events.length}}"></md-data-table-pagination>
    </md-content>
</md-content>