<div layout="row" layout-align="end end" style="padding: 0px 26px 0px 0px;">
    <div flex="50" layout="row">
        <md-icon flex="initial" style="margin: 33px 4px 0px 0px;">search</md-icon>
        <md-input-container flex>
        <label> Search for buddy</label>
            <input type="text" ng-model="search" name="employee" />
    </md-input-container>
        </div>
</div>

<md-content class="main-content md-padding page-content transparent">
    <md-content class="box-shadow">

    <md-data-table-container>
        <table md-data-table md-progress="deferred">
                <thead md-order="query.order" md-trigger="onOrderChange" class="color-blue color-medium-grey" >
                <tr>
                        <th name="Name" order-by="name"></th>
                        <th name="Surname" order-by="surname"></th>
                        <th name="Position" order-by="position"></th>
                        <th name="Cellphone" order-by="cellphone"></th>
                        <th></th>
                </tr>
            </thead>
            <tbody>
                    <tr ng-repeat="employee in vm.employees | filter: search"  class="hover">
                        <td ng-click="viewEmployeeDetails(employee)">{{employee.firstname}}</td>
                        <td ng-click="viewEmployeeDetails(employee)">{{employee.lastname}}</td>
                        <td ng-click="viewEmployeeDetails(employee)">{{employee.title.TitleName}}</td>
                        <td ng-click="viewEmployeeDetails(employee)">{{employee.cellphone}}</td>
                        <td class="md-table-text-button" ><!--add delete funtion-->
                            <p ng-click="vm.removeUser(employee)">remove</p>
                        </td>

                </tr>
            </tbody>
        </table>
    </md-data-table-container>

        <md-data-table-pagination class="margin-bottom-16" md-limit="vm.pagenation.limit" md-page="vm.pagenation.page" md-total="{{vm.employees.length}}"></md-data-table-pagination>
        <div layout="row" class="layout-align-end-end">
            <div>
                <md-button class="md-primary md-primary-custom" ng-click="createEmployee()">Create</md-button>
            </div>
        </div>
    </md-content>
</md-content>