    <md-input-container>
        <label> Search for buddy</label>
        <input type="text" ng-model="search"  name="employee"/>
    </md-input-container>

    <!--<div layout="row" class="md-padding">
        <div flex="50" layout="column" layout-align="start start">
            <md-button class="md-raised md-warn" ng-click="vm.SearchEmployee()">Search</md-button>
        </div>
    </div-->

    <md-data-table-container>
        <table md-data-table md-progress="deferred">
            <thead md-order="query.order" md-trigger="onOrderChange">
                <tr>
                    <th name="First name"></th>
                    <th name="Last name"></th>
                    <th name="Cellphone"></th>
                    <th name="Position"></th>
                    <th name="Deactivate"></th>
                    <th name="View Profile"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in vm.employees | filter: search" >
                    <td><p class="md-currency-circle">{{employee.firstname}}</p></td>
                    <td>{{employee.lastname}}</td>
                    <td>{{employee.cellphone}}</p></td>
                    <td>{{employee.title.TitleName}}</td>
                    <td class="md-table-button">
                        <md-button class="md-icon-button" ng-click="vm.removeUser(employee)">
                            <md-icon md-font-icon="material-icons" class="md-font material-icons">delete</md-icon>
                        </md-button>
                    </td>
                    <td class="md-table-button">
                        <md-button class="md-icon-button" ng-click="viewEmployeeDetails(employee)">
                            <md-icon md-font-icon="material-icons" class="md-font material-icons">delete</md-icon>
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-data-table-container>