





<!--<div class="md-padding md-application-cards" layout="row" layout-wrap>
    <md-card flex layout-align="center center">
        <div layout="column" layout-align="center center">
            <h3 class="no-margin">Name</h3>
            <p class="no-margin md-font-size-xs">Name</p>
        </div>
    </md-card>
    <md-card flex layout-align="center center">
        <div layout="column" layout-align="center center">
            <h3 class="no-margin">Name</h3>
            <p class="no-margin md-font-size-xs">Name</p>
        </div>
    </md-card>
    <md-card flex layout-align="center center">
        <div layout="column" layout-align="center center">
            <h3 class="no-margin">Name</h3>
            <p class="no-margin md-font-size-xs">Name</p>
        </div>
    </md-card>
    <md-card flex layout-align="center center">
        <div layout="column" layout-align="center center">
            <h3 class="no-margin">Name</h3>
            <p class="no-margin md-font-size-xs">Name</p>
        </div>
    </md-card>
    <md-card flex layout-align="center center">
        <div layout="column" layout-align="center center">
            <h3 class="no-margin">Name</h3>
            <p class="no-margin md-font-size-xs">Name</p>
        </div>
    </md-card>

</div>-->



<div class="md-padding md-application-cards" layout="row" layout-wrap>

    <md-card flex layout-align="center center" class="md-flip-in" ng-click="vm.navigateTo('/ViewRecruitment')">
        <div layout="column" layout-align="center center">
            <md-icon class="no-margin" style="color:#005a52">business_center</md-icon>
            <p class="no-margin md-font-size-xs">Internal Recruitment</p>
        </div>
    </md-card>

    <md-card flex layout-align="center center" class="md-flip-in" ng-click="vm.navigateTo('/ProjectsView')">
        <div layout="column" layout-align="center center">
            <md-icon class="no-margin" style="color:#9d0b0f">code</md-icon>
            <p class="no-margin md-font-size-xs">Projects</p>
        </div>
    </md-card>

    <md-card flex layout-align="center center" class="md-flip-in" ng-click="vm.navigateTo('/Events')">
        <div layout="column" layout-align="center center">
            <md-icon class="no-margin" style="color:#eab600">toys</md-icon>
            <p class="no-margin md-font-size-xs">Events</p>
        </div>
    </md-card>

    <md-card flex layout-align="center center" class="md-flip-in" ng-click="vm.navigateTo('/SearchEmployee')">
        <div layout="column" layout-align="center center">
            <md-icon class="no-margin" style="color:#7a0046">face</md-icon>
            <p class="no-margin md-font-size-xs">Find Buddy</p>
        </div>
    </md-card>

    <md-card flex layout-align="center center" class="md-flip-in" ng-click="vm.navigateTo('/chat')">
        <div layout="column" layout-align="center center">
            <md-icon class="no-margin" style="color:#3f6618">forum</md-icon>
            <p class="no-margin md-font-size-xs">@Chat</p>
        </div>
    </md-card>

    <md-card flex layout-align="center center" class="md-flip-in" ng-click="vm.navigateTo('/dashboard')">
        <div layout="column" layout-align="center center">
            <md-icon class="no-margin" style="color:#00041e">live_help</md-icon>
            <p class="no-margin md-font-size-xs">FAQ</p>
        </div>
    </md-card>

    <md-card flex layout-align="center center" class="md-flip-in" ng-click="vm.navigateTo('/CreateEmployee')">
        <div layout="column" layout-align="center center">
            <md-icon class="no-margin" style="color:#232475">person_add</md-icon>
            <p class="no-margin md-font-size-xs">Add Member</p>
        </div>
    </md-card>
</div>

